Options -Indexes
RewriteEngine On

# Redireciona tudo para /src
RewriteCond %{REQUEST_URI} !^/personal-blog-web-app/src/
RewriteRule ^(.*)$ src/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^ src/index.php [QSA,L]