* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #232323;
  line-height: 1.6;
}

header {
  background-color: #333;
  color: #fff;
  padding: 32px;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 1.3em;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

main h1#title-page {
  margin-bottom: 20px;
  text-align: center;
}

main section {
  max-width: 600px;
  margin: 0 auto;
  border: 5px solid #cccccc5b;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
}

section article {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #cccccc87;
}

section article h2 {
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

section article .posts {
  list-style: none;
}

.see-more {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 1.2em;
  color: #900202;
  text-decoration: none;
}

.see-more:hover {
  text-decoration: underline;
}

article .posts .post-item {
  margin-bottom: 25px;
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.posts .post-item {
  width: 100%;
  max-width: 500px;
  display: flex;
  padding: 15px;
  border: 1px solid #cccccc87;
  border-radius: 8px;
  background-color: #fff;
  margin-bottom: 20px;
}

.post-item .post-link {
  display: flex;
  font-size: 1.5em;
  color: #900202;
  text-decoration: none;
  justify-content: space-between;
  width: 100%;
}

.post-item .post-link .post-title .post-date {
  font-size: 1.2em;
  color: #333;
}

.post-item .post-link:hover {
  text-decoration: underline;
}

.detailed-post {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #cccccc87;
  border-radius: 8px;
  background-color: #fff;
}

.detailed-post .detailed-title {
  font-size: 2.5em;
  color: #900202;
  margin-bottom: 10px;
}

.detailed-post .detailed-date {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 20px;
}

.detailed-post .detailed-description {
  font-size: 1.3em;
  color: #232323;
  line-height: 1.8;
  text-align: justify;
}

.detailed-post .back-to {
  display: block;
  text-align: center;
  margin-top: 30px;
  font-size: 1.2em;
  color: #900202;
  text-decoration: none;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination .pagination-list {
  list-style: none;
  display: flex;
}

.pagination .pagination-list .pagination-item {
  margin: 0 10px;
  padding: 8px 12px;
  border: 1px solid #cccccc87;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  text-decoration: none;
}

.pagination .pagination-list .pagination-item:hover {
  background-color: #f4f4f4;
}

.pagination-link {
  color: #900202;
  text-decoration: none;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  bottom: 0;
}
